@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
    @apply border-b-2 border-b-gray-400 outline-none focus:border-red-300 transition bg-transparent;
}

.form {
    @apply block max-w-md mx-auto border-gray-200 border shadow-2xl p-12 rounded bg-[rgba(255,255,255,0.8)] mt-16 mb-24;
}

.form-submit-button {
    @apply block mx-auto text-gray-100 w-64 bg-zinc-900 hover:bg-zinc-700 disabled:opacity-50 active:bg-red-800 py-2 mt-10 transition cursor-pointer disabled:pointer-events-none;
}

.primary-button-colors {
    @apply text-gray-100 bg-zinc-800 hover:bg-zinc-600 active:bg-red-800 transition;
}

.secondary-button-colors {
    @apply text-gray-900 bg-zinc-200 hover:bg-zinc-300 active:bg-red-300 transition;
}

.background {
    background-image: url("./assets/background.jpg");
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 104%;
    height: 104%;
    position: fixed;
    filter: blur(4px);
    margin: -1em;
}

@layer components {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    }
}
